<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Editing Blog</h1>

<form method="post" data-tf="@edit_form">
  <p>
    <label>ID<br /><input data-tf="@id" /></label>
  </p>
  <p>
    <label>Title<br /><input data-tf="@title" /></label>
  </p>
  <p>
    <label>Body<br /><input data-tf="@body" /></label>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>

<a href="#" data-tf="@link_to_show">Show</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
