<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Showing Blog</h1>
<dt>ID</dt><dd data-tf="@id">(id)</dd><br />
<dt>Title</dt><dd data-tf="@title">(title)</dd><br />
<dt>Body</dt><dd data-tf="@body">(body)</dd><br />
<dt>Created at</dt><dd data-tf="@created_at">(createdAt)</dd><br />
<dt>Updated at</dt><dd data-tf="@updated_at">(updatedAt)</dd><br />
<dt>Lock Revision</dt><dd data-tf="@lock_revision">(lockRevision)</dd><br />

<a href="#" data-tf="@link_to_edit">Edit</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
